{% extends 'templates/app.twig' %}

{% block content %}

<h1>Bienvenue sur TimeLine, votre jeu familial par excellence.</h1>
<br> Vous n'avez pas votre certif Mongo DB ? Ce jeu est fait pour vous !</br>
{% endblock%}
