{% extends 'templates/app.twig' %}

{% block content %}

<h1>Les règles de TimeLine</h1>
<div> Les grandes inventions ? Tout le monde connait les dates, évidemment ! Et à première vue ça à l'air simple, mais l'est-ce pour autant ? 
Rien n'est moins sûr...Bon pour reprendre l'exemple présent dans la règle disons que l'on sait (à peu près) 
situer la date de l'invention de l'ampoule électrique ou des lunettes, mais lorsqu'il faut placer celle de l'ouvre-boite, est-ce avant ou après les 2 précités ? 
Tout le principe de Timeline est là : 
dater une invention c'est relativement facile, mais quand il faut la situer entre d'autres ça devient plus compliqué, et plus il y en a sur la table, moins c'est évident...  !</div>
{% endblock%}