{% extends 'templates/app.twig' %}

{% block content %}

<h1>Les règles de TimeLine</h1>

<div> Les grandes inventions ? Tout le monde connait les dates, évidemment ! Et à première vue ça à l'air simple, mais l'est-ce pour autant ? 
Rien n'est moins sûr...Bon pour reprendre l'exemple présent dans la règle disons que l'on sait (à peu près) 
situer la date de l'invention de l'ampoule électrique ou des lunettes, mais lorsqu'il faut placer celle de l'ouvre-boite, est-ce avant ou après les 2 précités ? 
Tout le principe de Timeline est là : 
dater une invention c'est relativement facile, mais quand il faut la situer entre d'autres ça devient plus compliqué, et plus il y en a sur la table, moins c'est évident...  !</div>

<h1> BUT DU JEU </h1>

<div> Être le seul à ne plus avoir de cartes. </div>

<h1> INSTALLATION </h1> 

<div>Chaque joueur reçoit des cartes face "date cachée" </div>

  <li>  2-3 joueurs: 6 cartes</li>
  <li>  4-5 joueurs: 5 cartes</li>
  <li>  6-8 joueurs: 4 cartes</li>

<div>Une carte face "date visible" est placée au centre de la table.</div>


<h1> DEROULEMENT DE LA PARTIE </h1> 

<div>Les joueurs jouent chacun leurs tours dans le sens des aiguilles d'une montre. Le joueur estime si l'évènement de sa carte s'est déroulé avant ou après les évènements déjà présents sur le plateau.</div>

   <li> si la carte est bien placée, on la laisse face "date visible" </li>
   <li> si la carte est mal placée, on la retire et le joueur pioche une carte </li>

<h1> CAS PARTICULIER </h1>

<div>Si les cartes ont la même date, on peut la placer avant ou après. </div>

<h1> FIN DE PARTIE</h1> 

    <div>Si un joueur est le seul à poser sa dernière carte au cours d'un tour, il est déclaré vainqueur. </div>
    <div>Si plusieurs joueurs posent leur dernière carte le même tour, les autres joueurs sont éliminés. Les joueurs restants reçoivent une nouvelle carte et le jeu continue jusqu'à ce qu'il ne reste qu'un seul joueur.</div>

{% endblock%}