{% extends 'templates/app.twig' %}

{% block content %}
<h1> Sélectionner un thème </h1>

<a href="/salonGeneral"><input type="submit" value="Général"></a>
<a href="/salonCine"><input type="submit" value="Cinéma"></a>
<a href="/salonSport"><input type="submit" value="Sport"></a>




{% endblock%}
